---
---
@import "{{ site.theme }}";

summary {
  font-style: normal;
  font-weight: bold;
  // colors the bg of the summary block
  color: white;
  background-color: #339999;
  padding-left: 8px;
  margin-bottom: 8px;
  border-radius: 3px
}

/*  for back-to-back headings that
    act ast sub-headings h5 too small */
h4 + h4 {
  font-size: 95%;
  font-style: italic;
}

/* bloclOList */
#bloclOList { width: 95%; }
// colors the numbers in the column
#bloclOList ol { font-style:italic; font-size: 24px; color: #993333; margin-bottom: 10px;}
// colours the border
#bloclOList ol li {border-left: 4px solid #6a6a6a; }
// colours the text after the emphasized text
#bloclOList ol li p { color: #6a6a6a;  padding: 8px 0 0 8px ; font-size: 18px;  }
//  colours the emphasized text
#bloclOList ol li p em {  color: #993333; font-style: normal; }


/*
Colourt I like
993333 rustyredish
339999 lightforestgreen-ish
006699 blueygreen
	#990033
  #993333
  44bfb7
  6a6a6a
*/
